html {
  font-family: Arial, sans-serif; }

body, h1 {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 1.4em; }

.menu li {
  padding-left: 20px; }

.displayNone {
  display: none !important; }

p {
  font-size: 0.9em; }

p.validation {
  margin: 0;
  position: relative;
  bottom: 15px;
  font-size: 0.7em;
  color: red; }

body {
  background-color: #e6e6e6; }
  body header {
    background-color: #d3135a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0 50px; }
    body header h1 {
      color: #ffc2dd;
      position: absolute;
      top: 38px;
      left: 50px; }
    body header .menu-top {
      font-size: 0.8em;
      text-shadow: 0.3px 0.3px black; }
    body header .menu-primary {
      text-shadow: 0.3px 0.3px white; }
      body header .menu-primary a {
        color: white; }
        body header .menu-primary a:hover {
          text-shadow: 0.3px 0.3px black;
          color: black; }
    body header nav .arrow {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #4d4d4d;
      margin: 0 auto; }
    body header nav ul, body header ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    body header ul.submenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      position: absolute;
      padding: 0;
      margin-left: -25px;
      margin-top: 5px;
      width: 125px; }
      body header ul.submenu li {
        padding: 5px;
        background: #4d4d4d; }
        body header ul.submenu li:hover {
          background: #666;
          cursor: pointer; }
          body header ul.submenu li:hover a {
            color: white; }
    body header i.fa {
      display: none; }
  body main {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    body main aside {
      padding: 20px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      body main aside p {
        text-align: justify; }
      body main aside hr {
        height: 3px;
        background: black;
        border: none; }
      body main aside form {
        border: 1px solid #888;
        padding: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        body main aside form div label {
          font-weight: bold;
          font-size: 0.9em; }
        body main aside form div {
          width: 100%; }
        body main aside form input, body main aside form textarea {
          padding: 5px 5px;
          margin: 3px 0 15px 0;
          width: 90%; }
        body main aside form textarea {
          height: 100px;
          resize: none; }
        body main aside form button {
          width: 100px;
          height: 30px;
          background: #d3135a;
          color: white;
          border: none;
          cursor: pointer; }
          body main aside form button:hover {
            border: 2px solid #750b32; }
    body main section.upper {
      -webkit-box-flex: 2.5;
          -ms-flex: 2.5;
              flex: 2.5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      body main section.upper article.main-article {
        background: white;
        text-align: justify;
        padding: 20px;
        margin-top: 30px;
        float: left; }
      body main section.upper div.lower-texts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
      body main section.upper p.some-paragraph, body main section.upper article.links {
        background: white;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin: 20px 0;
        padding: 20px; }
      body main section.upper article.links {
        margin-left: 20px; }
        body main section.upper article.links p {
          margin: 0; }
          body main section.upper article.links p a {
            color: #0071bc; }
  body section.additional-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #CCC; }
    body section.additional-info p {
      padding: 0 20px; }
  body footer {
    background: #666;
    padding: 10px;
    margin-top: 20px; }
    body footer ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 50%;
      color: white;
      margin-left: 40px;
      padding: 0; }
      body footer ul li:last-child {
        border-right: none; }
      body footer ul li {
        border-right: 1px solid white;
        width: 100%;
        text-align: center; }
    body footer small {
      margin-left: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body footer small p {
        width: 80%;
        color: #b3b3b3; }
      body footer small h1 {
        color: white;
        font-size: 2.5em; }

@media screen and (max-width: 800px) {
  main {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }

  footer {
    padding: 0; }
    footer ul {
      margin: 0 !important;
      width: 100% !important; } }
@media screen and (max-width: 640px) {
  body header {
    padding: 0;
    display: block; }
    body header h1 {
      position: relative;
      top: 5px;
      left: 5px; }
    body header .mobile {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 0; }
      body header .mobile li {
        height: 30px;
        line-height: 1.6em;
        text-align: center;
        cursor: pointer;
        padding: 0;
        font-size: 1.3em; }
        body header .mobile li a {
          width: 100%; }
        body header .mobile li:hover {
          background: #ffc2dd;
          border: 2px solid #ff5ca4; }
    body header nav ul.submenu {
      margin: 0;
      position: relative;
      width: auto;
      font-size: 0.6em; }
      body header nav ul.submenu .arrow {
        display: none; }
      body header nav ul.submenu li {
        padding-left: 30px; }
        body header nav ul.submenu li:hover {
          border: none; }
    body header #li-submenu a i {
      display: inline;
      font-size: 1em; }
    body header i.fa {
      display: block;
      position: relative;
      text-align: center;
      font-size: 2em;
      cursor: pointer; } }
@media screen and (max-width: 550px) {
  div.lower-texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    div.lower-texts article.links {
      margin: 0 0 20px 0 !important; }

  section.additional-info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; } }
@media screen and (max-width: 480px) {
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    footer ul li {
      border: none !important; }
  footer small {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer small p {
      padding-right: 10px; } }
